.App {
  background-color: #96c0ff;
  min-height: 100vh;
  position: relative;
  font-family: 'Georgia', serif;
  overflow: hidden;
}

.hero {
  text-align: center;
  padding-top: 150px;
  position: relative;
  z-index: 1;
}

.welcome {
  color: #e4ecff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.title {
  color: #1e4ed8;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.rocket, .planet, .earth {
  position: absolute;
  width: 100px;
}

.rocket {
  bottom: 20px;
  left: 20px;
}

.planet {
  top: 40px;
  right: 50px;
}

.earth {
  bottom: 30px;
  right: 30px;
}